@import "mixin";

#section__experience {
  box-shadow: 1px 1px 48px -16px rgba(0,0,0,0.6) inset;
  padding-bottom: 80px;
  background-color: rgba(0, 0, 0, 0.2);

  @include notebook2 {
    padding: 70px 50px 0 50px;
  }

  @include mobile {
    padding: 70px 40px 0 40px;
  }



}

.experience {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  flex-shrink: 1;

  @include mobile {
    flex-direction: column;
    margin: 0;
  }

  &__p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 3rem;
    font-weight: 300;
    color: #3e563e;
    font-family: 'Lato', sans-serif;

  }

  li {
    padding-bottom: 20px;
  }

  &__education{
    background-color: rgba(63, 100, 64, 0.6);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.9);
    padding: 20px 20px 20px 20px;
    margin-right: 20px;
    flex:1;
    height: 100%;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.2);
    margin-bottom: 40px;
    line-height: 2.3rem;

    @include mobile {
      font-size: 1.2rem;
      margin-right: 0;
    }



    &__p {
      text-align: center;
      padding-bottom: 20px;
      font-weight: bold;
    }
  }

  &__work {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 20px 20px 20px;
    margin-left: 20px;
    flex:1;
    height: 100%;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.2);
    margin-bottom: 40px;
    line-height: 2.3rem;

    @include mobile {
      font-size: 1.2rem;
      margin-left: 0;
    }


    &__p {
      text-align: center;
      padding-bottom: 20px;
      font-weight: bold;
    }
  }
}

.work-list {
  font-size: 1.5rem;
  line-height: 1.5rem;

  @include mobile {
    font-size: 1rem;
    line-height: 1rem;

  }
}

